@import "~font-awesome/css/font-awesome.css";

@font-face {
   font-family: "LeroyMerlinSans";
   src: url("./assets/LM_Font/LeroyMerlinSansOffice-Regular.ttf");
}

@font-face {
   font-family: "LeroyMerlinSans Bold";
   src: url("./assets/LM_Font/LeroyMerlinSansOffice-Bold.ttf");
}

@font-face {
   font-family: "LeroyMerlinSans Italic";
   src: url("./assets/LM_Font/LeroyMerlinSansOffice-Italic.ttf");
}

@font-face {
   font-family: "LeroyMerlinSans Bold-Italic";
   src: url("./assets/LM_Font/LeroyMerlinSansOffice-BoldItalic.ttf");
}

@font-face {
   font-family: "LeroyMerlinSans Light-Italic";
   src: url("./assets/LM_Font/LeroyMerlinSansOfficeLight-Italic.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  height: 100vh;
  font-family: LeroyMerlinSans, Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

a {
  color: white;
  opacity: .75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
